{% extends 'base.html' %} {% block body %}
<section class="bg-dark vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 mt-5">
        <form
          action=""
          method="post"
          enctype="multipart/form-data"
          class="border border-1 border-light rounded-3 px-4 py-4 text-light opacity-50"
        >
          <h4 class="pb-3">Add Movie Details</h4>
          {% csrf_token %}
          <input
            type="text"
            name="movie_title"
            class="form-control border-light bg-dborder-light bg-dark text-light"
            placeholder="Movie title"
          />
          <br />
          <input
            type="text"
            class="form-control border-light bg-dborder-light bg-dark text-light"
            name="movie_description"
            placeholder="Movie description"
          /><br />
          <input
            type="number"
            class="form-control border-light bg-dborder-light bg-dark text-light"
            name="yearof_release"
            placeholder="Year Of relese"
          /><br />
          <input
            type="number"
            class="form-control border-light bg-dborder-light bg-dark text-light"
            name="movie_rating"
            placeholder="Movie Rating"
          /><br />
          <input
            type="text"
            class="form-control border-light bg-dborder-light bg-dark text-light"
            name="movie_tag"
            placeholder="Movie tags"
          /><br />
          <input
            type="file"
            class="form-control border-light bg-dborder-light bg-dark text-light"
            name="movie_thumbnail"
          /><br />
          <input
            class="form-control border-light bg-dborder-light bg-dark text-light mb-3"
            type="submit"
          />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
